<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlogVista</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    img {
      float: left;
      margin: 0px 10px 15px 0px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><span class="bolded">BlogVista</span></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="signheaderr"><a href="/login">Logout</a></button></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">